#FileCommander {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

$breadcrumb-divider: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 257 451'%3E%3Cg id='g23' transform='translate(-96.864923)'%3E%3Cpath d='M 345.441,248.292 151.154,442.573 c -12.359,12.365 -32.397,12.365 -44.75,0 -12.354,-12.354 -12.354,-32.391 0,-44.744 L 278.318,225.92 106.409,54.017 c -12.354,-12.359 -12.354,-32.394 0,-44.748 12.354,-12.359 32.391,-12.359 44.75,0 l 194.287,194.284 c 6.177,6.18 9.262,14.271 9.262,22.366 0,8.099 -3.091,16.196 -9.267,22.373 z' id='path21' /%3E%3C/g%3E%3C/svg%3E");

li + li:before {
  color: #ccc;
  content: $breadcrumb-divider !important;
}

#FileCommander-info {
  padding: 0 20px;

  nav {
    ol {
      background-color: transparent;
      margin: 0px;
    }
  }
}

#FileCommander-path {
  font-size: 18px;
  font-weight: 600;
  display: inline;
  margin: auto;
}

#FileCommander-backTo {
  height: 30px;
  margin-top: 6px;
  font-size: 18px;
  width: 195px;
  margin-left: 7px;
  font-weight: 600;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }

  span {
    cursor: pointer;
    white-space: nowrap;

    img {
      position: relative;
      top: -1.5px;
    }
  }
}

// NO TOCAR, Si quieres modificar los estilos de los iconos, ve a FileCommanderItem.scss
#FileCommander-items {
  height: 100%;
  &.mosaico {
    padding: 0 38px;
    border-top: solid 1px #f2f2f2;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    .FileCommanderItem {
      .itemIcon {
        .iconContainer {
          .type {
            .download-pb {
              position: relative;
              top: 7px;
              height: 4px;
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  &.list {
    margin-top: 13px;
    padding: 15px 38px 0 38px;
    border-top: solid 1px #f2f2f2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    .FileCommanderItem {
      display: flex;
      width: 100%;
      height: 50px;
      margin: 0;

      .properties {
        visibility: initial;
        margin: initial;
        order: 4;
        display: flex;
        align-items: center;
        padding-right: 10px;

        .dropright {
          div {
            margin-top: -5.5px;
          }
        }
      }

      .itemIcon {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: initial;
        height: 100%;
        order: 1;

        svg {
          height: 70%;
        }

        .iconContainer {
          svg {
            &:nth-child(1) {
              height: 35px;
              margin-top: 45px;
            }

            &:nth-child(2) {
              height: 20px;
              margin-top: 28px;
            }
          }

          .type {
            margin: auto;
            height: 40px;
            width: 40px;

            .extension {
              font-size: 10px;
            }
          }
        }
      }

      .name {
        margin: initial;
        order: 2;
        flex-grow: 1;
        display: flex;
        align-items: center;
      }

      .created {
        display: flex;
        align-items: center;
        order: 3;
        width: 100px;
      }
    }
  }
}

.drag-over {
  outline: dashed 5px #aab3ff;
  outline-offset: -10px;
}

.noItems {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 50vh;
}

.noItems-subtext {
  color: #707070;
  font-weight: normal;
}

#FileCommander-path .btn {
  background-color: #fff;
  color: #000;
  box-shadow: none;
  border-style: none;
  font-weight: 600;
  font-size: 18px;
}

#FileCommander-path .dropdown-toggle::after {
  content: none;
}

#FileCommander-path .dropdown-toggle img {
  visibility: hidden;
  margin-left: 5px;
}

#FileCommander-path :hover .dropdown-toggle img {
  visibility: visible;
}

#FileCommander-path .dropdown-menu {
  min-width: 200px;
  left: -57px !important;
  transform: translate3d(-21px, 42px, 0);
  border-radius: 14px;
  border-style: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
}

#FileCommander-path .dropdown-item {
  margin: 15px -5px 20px 20px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0;
}

#FileCommander-path .dropdown-item:hover {
  background-color: transparent;
}

#FileCommander-path .dropdown-item.active,
#FileCommander-path .dropdown-item:active {
  background: none;
  color: #0054ff;
}

#FileCommander-path .dropdown-item:first-child {
  margin-top: 5px;
}

#FileCommander-path .dropdown-item:last-child {
  margin-bottom: 5px;
}

.dropdownButton.dropdown {
  margin-left: -178px !important;
}

#selection-rect {
  border: dotted 1px gray;
  background-color: rgba(0, 0, 100, 0.06);
  position: absolute;
}

.switch-view {
  button {
    i {
      color: gray;
    }
  }
}
